/* dropdown modal */
.dropdown-container {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 0;
}

.drop_down_arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
    z-index: 1;
    border: 0;
    background: #fff;
    font-size: 8px;
}

.dropdown-input {
    position: relative;
    width: 100%;
    padding: 0.475rem 0.75rem;
    border: 1px solid #f0efef; 
    font-size: 12px;
}

.dropdown-list {
    position: fixed;
    width: 250px;
    max-height: 250px;
    overflow-y: auto;
    background-color: #fff;
    display: none;
    z-index: 9999 !important;
    border: 1px solid #f0efef; 
    box-shadow: 2px 2px 12px -3px rgba(32, 33, 36, 0.6);
    border-top: 0; 
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    display: block; 
    white-space: normal;
    overflow: hidden;
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
    background-color: #6C5FFC;
    color: #fff;
}
